In [1]:
import numpy as np
from IPython.display import display
import pandas as pd

In [7]:
df = pd.read_csv("sport_athletes.csv")
display(df.info())
display(df.describe().T)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       36 non-null     object
 1   Sport Type    36 non-null     object
 2   Athlete Name  36 non-null     object
 3   Height(cm)    36 non-null     int64
 4   Weight(kg)    36 non-null     int64
 5   Wins          36 non-null     int64
 6   Olympic Date  36 non-null     object
dtypes: int64(3), object(4)
memory usage: 2.1+ KB

None

            count        mean        std    min     25%    50%     75%    max
Height(cm)   36.0  181.333333  16.568473  142.0  173.00  184.5  191.50  216.0
Weight(kg)   36.0   76.555556  20.680487   45.0   64.25   72.0   85.75  147.0
Wins         36.0    3.388889   1.102666    1.0    3.00    3.0    4.00    6.0

In [55]:
df = pd.read_csv("sport_athletes.csv")
sport_stats = df.groupby('Sport Type').agg(
    weight_min=('Weight(kg)', 'min'),
    height_max=('Height(cm)', 'max'),
    wins_max=('Wins', 'max')
).reset_index()
sport_stats = sport_stats.rename(columns={
    'weight_min': 'weight_max', 
    'height_max': 'height_max',
    'wins_max': 'wins_max'
})
print(sport_stats)

        Sport Type  weight_max  height_max  wins_max
0       Basketball          96         216         3
1          Cycling          68         186         5
2       Gymnastics          45         160         5
3           Soccer          57         187         3
4         Swimming          58         200         5
5           Tennis          70         188         4
6  Track and Field          57         195         6

In [67]:
top_athletes = df_sorted.groupby('Sport Type').head(2).reset_index(drop=True)
print(top_athletes[['Sport Type', 'Athlete Name', 'Height(cm)']])

         Sport Type       Athlete Name  Height(cm)
0        Basketball   Shaquille O'Neal         216
1        Basketball       Kevin Durant         208
2           Cycling      Primoz Roglic         186
3           Cycling      Tadej Pogacar         184
4        Gymnastics        Aly Raisman         160
5        Gymnastics      Shawn Johnson         157
6            Soccer  Cristiano Ronaldo         187
7            Soccer    Zinedine Zidane         185
8          Swimming           Sun Yang         200
9          Swimming         Ian Thorpe         196
10           Tennis     Novak Djokovic         188
11           Tennis      Roger Federer         185
12  Track and Field         Usain Bolt         195
13  Track and Field         Carl Lewis         188

In [ ]:
new_rows = pd.DataFrame({
    'Country': ['Canada', 'USA'],
    'Sport Type': ['Hockey', 'Skiing'],
    'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'],
    'Height(cm)': [183, 172],
    'Weight(kg)': [84, 68],
    'Wins': [3, 4],
    'Olympic Date': ['01/02/2002', '12/02/2010']
df_combined = pd.concat([df, new_rows], ignore_index=True)